@font-face {
    font-family: "Bebas";
    src: url(./font/BebasNeue_Bold.ttf);
}

@font-face {
    font-family: "opensans_regular";
    src: url(./font/OpenSans_Condensed-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}


:root {
    --color1: #00A4E5;
    --color2: #48555B;
    --color3: white;
    --color4: #171819;
    --color5: #141A20;
    --font1: "opensans_regular";
}

img {
    display: block;

}

html {
    box-sizing: border-box;

}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {}

.main {
    width: 1440px;
    margin: 0 auto;

}

/*HEADER*/

.header {}

a {
    text-decoration: none;
}

.container {
    width: 1440px;
    height: 768px;
    color: var(--color3);
    margin: 0 auto;
    background-image: url(./img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 25px;
}

.header_inner {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header_img {
    padding-top: 41px;
    margin-bottom: 317px;
}

.header_title {
    text-transform: uppercase;
    font-family: "Bebas";
    letter-spacing: 5.71px;
    margin-bottom: 20px;
    font-size: 60px;
}

.header_text_mid {
    font-family: "opensans_regular";
    margin-bottom: 221px;
}

.header_text_down {
    margin-bottom: 71px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

/*Navigation*/

.navbar {
    width: 1440px;
    height: 65px;
    margin-bottom: 33px;
    margin: 0 auto;
}

.navbar_inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar_menu {}

.navbar_logo {}

.navbar_list {
    display: flex;
    gap: 48px;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navbar_list a {
    text-transform: uppercase;
    letter-spacing: 1.09px;
    color: var(--color2);
    font-size: 12px;
    font-weight: 600;
}

.navbar_list a:hover {
    color: var(--color1)
}

/*ABOUT*/
.about {
    width: 940px;
    height: 344px;
    margin: 0 auto 118px;

}

.about_container {}

.about_title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
    font-family: var(--font1);
    letter-spacing: 6px;
    text-align: center;
    text-transform: uppercase;
}

.about_line {
    width: 50px;
    height: 2px;
    background-color: var(--color1);
    margin: 0 auto;
    margin-bottom: 60px;
}

.about_main {
    display: flex;
}

.about_info {
    max-width: 405px;
}

.about_info_title {
    font-size: 20px;
    font-weight: 700;
    font-family: var(--font1);
    color: var(--color2);

}

.about_info_text {}

.about_images {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
    color: var(--color3);
    padding-left: 14px;
    padding-top: 15px;
    font-weight: 800;
    line-height: 29px;
    letter-spacing: 3px;
    font-size: 24px;
    text-transform: uppercase;
    font-family: var(--font1);
    padding-left: 75px;
}

.about_image {
    width: 140px;
    height: 224px;
    padding: 15px 0 0 14px;
}

.about_image.one {
    background-image: url(./img/we_plan.png);
}

.about_image.two {
    background-image: url(./img/we-manage.png);
}

.about_image.three {
    background-image: url(./img/we_build.png);
}

.about_span {
    color: var(--color1);
    width: 140px;
    height: 224px;
}

.services {}

.services_container {
    width: 940px;
    margin: 0 auto 76px;
}

.services_inner {
    display: flex;
}

.services_titles {
    width: 199px;
    margin-right: 154px;
}

.services_title {
    margin-bottom: 10px;
    color: var(--color2);
    font-family: var(--font1);
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: 700;
    text-transform: uppercase;

}

.services_line {
    width: 50px;
    height: 2px;
    background-color: var(--color1);
}

.services_text {
    width: 405px;
    margin-right: 32px;
    font-family: var(--font1);
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.2px;
    color: var(--color2);
    font-size: 11px;
}

.services_buttom {
    width: 150px;
    height: 40px;
    background-color: var(--color1);
    color: var(--color3);


}

.services_buttom a {
    display: block;
    height: 100%;
    color: var(--color3);
    text-transform: uppercase;
    font-family: var(--font1);
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4px;
}

.info {
    margin-bottom: 115px;
}

.info_container {
    width: 940px;
    height: 446px;
    margin: 0 auto;
}

.info_inner {
    display: flex;
    gap: 28px;
    padding-top: 28px;
    padding-bottom: 23px;
}

.info_block {
    width: 295px;
    height: 330px;
}

.info_image {
    width: 68px;
    height: 75px;
    margin-bottom: 25px;
}

.info_image img {
    display: block;
    height: 100%;
}

.info_title {
    font-family: var(--font1);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: var(--color2);
    text-transform: uppercase;
    margin-bottom: 13px;
}

.info_text {
    font-family: var(--font1);
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 1px;
    color: var(--color2);
}

.desktop {}

.desktop_container {
    width: 1440px;
    height: 499px;
    margin: 0 auto;
    padding-top: 120px;
    background-image: url(./img/desktop_bg.png);
    background-size: cover;


}

.desktop_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.desktop_title {
    width: 350px;
    height: 72px;
    text-align: center;
    font-family: var(--font1);
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 5px;
    color: var(--color2);
    margin-bottom: 35px;
}

.desktop_button {
    width: 150px;
    height: 40px;
    background-color: var(--color1);
    font-family: var(--font1);
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1.5px;
    text-transform: uppercase;

}

.desktop_button a {
    display: block;
    height: 100%;
    color: var(--color3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4px;

}

/*NEWSLETTER*/

.newsletter {
    margin-top: -2px;
}

.newsletter_container {
    width: 1440px;
    height: 100px;
    margin: 0 auto;
    background: var(--color4);
}

.newslatter_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.newsletter_title {
    font-family: var(--font1);
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 5px;
    color: var(--color3);
    margin-right: 70px;
    text-align: center;

}

.newsletter_input {
    width: 250px;
    height: 40px;
}

.newsletter_input input {
    display: block;
    height: 100%;
    width: 100%;
    border: none;
    /*убирает обводку у поля ввода*/
}

.newsletter_button {
    background-color: var(--color1);
    width: 150px;
    height: 40px;
    text-transform: uppercase;
    font-family: var(--font1);
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 2px;

}

.newsletter_button a {
    display: block;
    height: 100%;
    color: var(--color3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4px;
}

/*FOOTER*/

.footer {
    margin-top: -2px;
}

.footer_container {
    width: 1440px;
    height: 240px;
    background-color: var(--color5);
    margin: 0 auto;
    padding-top: 42px;
}

.footer_inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*FOOTER COMPANY*/

.footer_company {
    width: 250px;
    height: 148px;
    margin-right: 71px;
}

.footer_company_title {
    font-family: var(--font1);
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 1px;
    color: var(--color3);
    margin-bottom: 19px;
    text-transform: uppercase;
}

.footer_company_image {
    width: 102px;
    height: 23px;
    margin-bottom: 15px;
}

.footer_company_image img {
    display: block;
    height: 100%;
}

.footer_company_text {
    font-family: var(--font1);
    font-weight: 400;
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 2px;
    color: var(--color3);
}

/* FOOTER LINKS*/

.footer_links {
    margin-right: 58px;
}

.footer_links_block_title {
    font-family: var(--font1);
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 1px;
    color: var(--color3);
    margin-bottom: 19px;
    text-transform: uppercase;
}


.footer_links_block_navbar {
    display: flex;
    justify-content: space-between;
    color: var(--color3);
    letter-spacing: 2px;
    gap: 34px;
}

.footer_links_block_navbar_list {
    list-style: none;
}

.footer_links_block_navbar_list a {
    color: var(--color3);
    text-transform: uppercase;
    font-family: var(--font1);

}
.footer_links_block_navbar_list a:hover{
    color: var(--color1);
}


/*FOOTER CONTACTS*/
.footer_contacts {
width: 141px;
height: 158px;
color: var(--color3);
font-family: var(--font1);
font-weight: 400;
font-size: 11px;
line-height: 16px;
letter-spacing: 1px;
margin-right: 46px;
}

.footer_contacts_title {
    font-family: var(--font1);
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 1px;
    color: var(--color3);
    margin-bottom: 19px;
    text-transform: uppercase;
}

.footer_contacts_text {
    margin-bottom: 19px;
}

.footer_contacts_num {
    margin-bottom: 19px;    
}

.footer_contacts_mail {

}


/*FOOTER NETWORK*/


.footer_network {
    display: flex;
}

.footer_network_image {
  
}

.footer_network_image a {
  color: var(--color3);
  font-size: 23px;
  margin: 10px;
}

.footer_network_image a:hover{
    color: var(--color1);
}

.copyright {
    margin-top: -2px;
}
.copyright_container {
    width: 1440px;
    height: 60px;
    margin: 0 auto;
    background-color: var(--color4);
    color: var(--color3);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


